{% extends 'base.html' %}

{%block parrafo%}
<p>Nosotros somos un grupo de estudiantes de primer año de informática, el propósito de nuestra página es generar conciencia y ayudar sobre la salud mental que existe en la universidad, ya que es bien conocida de que está universidad se generan varios problemas relacionados con la salud mental generada por la exigencia académica y también de que la universidad no da abasto para solucionar el problema por ellos mismos con los psicólogos, es por esto que a partir de nuestra página web necesita apoyo de los mismos estudiantes para apoyarnos mutuamente y generar así un red de ayuda comunitaria.</p>
<br>
<p>
Esperemos que todos los usuarios que usen la función de testimonios y del quiz lo hagan de manera responsable y con todo el ánimo de ayudar al otro
</p>
<br>
<p>
Eso si nosotros no somos profesionales para dar diagnósticos sobre qué problema puede estar pasando el usuario, así que preferimos que no usen nuestra página para dar diagnósticos oficiales, eso solo lo ven los profesionales de la salud
</p>

{%endblock%}