{% extends 'base.html' %}

{% block parrafo %}
<h3>Ansiedad</h3>
<!--ESTO ES UN TEXTO DE EJEMPLO, si se parece una página web es porque solo lo estamos usando de ejemplo para la presentación-->
<div>
    <h5>Descripción general</h5>
    <div>
        <p>Sentir ansiedad de modo ocasional es una parte normal de la vida. Sin embargo, las personas con trastornos de ansiedad con frecuencia tienen preocupaciones y miedos intensos, excesivos y persistentes sobre situaciones diarias. Con frecuencia, en los trastornos de ansiedad se dan episodios repetidos de sentimientos repentinos de ansiedad intensa y miedo o terror que alcanzan un máximo en una cuestión de minutos (ataques de pánico).</p>
        <p>Estos sentimientos de ansiedad y pánico interfieren con las actividades diarias, son difíciles de controlar, son desproporcionados en comparación con el peligro real y pueden durar un largo tiempo. Con el propósito de prevenir estos sentimientos, puede suceder que evites ciertos lugares o situaciones. Los síntomas pueden empezar en la infancia o la adolescencia y continuar hasta la edad adulta.</p>
        <p>Algunos ejemplos del trastorno de ansiedad son: trastorno de ansiedad generalizada, trastorno de ansiedad social (fobia social), fobias específicas y trastorno de ansiedad por separación. Puedes tener más de un trastorno de ansiedad. A veces, la ansiedad surge de una enfermedad que requiere tratamiento.</p>
        <p>Cualquiera sea el tipo de ansiedad que padezcas, un tratamiento puede ayudar</p>
    </div>
    <br>
    <h5>Síntomas</h5>
    <div>
        <ul>
            <li>Sensación de nerviosismo, agitación o tensión</li>
            <li>Sensación de peligro inminente, pánico o catástrofe</li>
            <li>Aumento del ritmo cardíaco</li>
            <li>Respiración acelerada (hiperventilación)</li>
            <li>Sudoración</li>
            <li>Temblores</li>
            <li>Sensación de debilidad o cansancio</li>
            <li>Problemas para concentrarse o para pensar en otra cosa que no sea la preocupación actual</li>
            <li>Tener problemas para conciliar el sueño</li>
            <li>Padecer problemas gastrointestinales (GI)</li>
            <li>Tener dificultades para controlar las preocupaciones</li>
            <li>Tener la necesidad de evitar las situaciones que generan ansiedad</li>
        </ul>
    </div>
    <br>
    <p>Existen varios tipos de trastornos de ansiedad:</p>
    <div>
        <ul>
            <li>La <strong>agorafobia</strong> es un tipo de trastorno de ansiedad en el que temes a lugares y situaciones que pueden causarte pánico o hacerte sentir atrapado, indefenso o avergonzado y a menudo intentas evitarlos.</li>
            <li>El <strong>trastorno de ansiedad debido a una enfermedad</strong> incluye síntomas de ansiedad o pánico intensos que son directamente causados por un problema de salud físico.</li>
            <li>El <strong>trastorno de ansiedad generalizada</strong> se caracteriza por una ansiedad y una preocupación persistentes y excesivas por actividades o eventos, incluso asuntos comunes de rutina. La preocupación es desproporcionada con respecto a la situación actual, es difícil de controlar y afecta la forma en que te sientes físicamente. A menudo sucede junto con otros trastornos de ansiedad o con la depresión.</li>
            <li>El <strong>trastorno de pánico</strong> implica episodios repetidos de sensaciones repentinas de ansiedad y miedo o terror intensos que alcanzan un nivel máximo en minutos (ataques de pánico). Puedes tener sensaciones de una catástrofe inminente, dificultad para respirar, dolor en el pecho o latidos rápidos, fuertes o como aleteos (palpitaciones cardíacas). Estos ataques de pánico pueden provocar que a la persona le preocupe que sucedan de nuevo o que evite situaciones en las que han sucedido.</li>
            <li>El <strong>mutismo selectivo</strong> es una incapacidad constante que tienen los niños para hablar en ciertas situaciones, como en la escuela, incluso cuando pueden hablar en otras situaciones, como en el hogar con miembros cercanos de la familia. Esto puede afectar el desempeño en la escuela, el trabajo o en la sociedad.</li>
            <li>El <strong>trastorno de ansiedad por separación</strong> es un trastorno de la niñez que se caracteriza por una ansiedad que es excesiva para el nivel de desarrollo del niño y que se relaciona con la separación de los padres u otras personas que cumplen una función paternal.</li>
            <li>El <strong>trastorno de ansiedad social (fobia social)</strong> implica altos niveles de ansiedad, miedo o rechazo a situaciones sociales debido a sentimientos de vergüenza, inseguridad y preocupación por ser juzgado o percibido de manera negativa por otras personas.</li>
            <li>Las <strong>fobias específicas</strong> se caracterizan por una notable ansiedad cuando la persona se ve expuesta a un objeto o situación específicos, y un deseo por evitarlos. En algunas personas, las fobias provocan ataques de pánico.</li>
            <li>El <strong>trastorno de ansiedad inducido por sustancias</strong> se caracteriza por síntomas de ansiedad o pánico intensos que son el resultado directo del uso indebido de drogas, como tomar medicamentos, estar expuesto a una sustancia tóxica o tener abstinencia a causa de las drogas. </li>
            <li><strong>Otro trastorno de ansiedad específico y no específico</strong> es un término para la ansiedad y las fobias que no cumplen con los criterios exactos para algún otro trastorno de ansiedad pero que son lo suficientemente relevantes para ser alarmantes y perturbadores.</li>
        </ul>

    </div>

</div>
{%endblock%}