{% extends 'base.html' %}


{% block parrafo %}
<div>
    <h2>Bienvenid@ a los FAQs</h2>
    <!--ESTO ES UN TEXTO DE EJEMPLO, si se parece una página web es porque solo lo estamos usando de ejemplo para la presentación-->
    <h5>Si alguien tiene un problema de salud mental es porque es poco inteligente.</h5>
    <div>
        <p>Realidad: Las enfermedades mentales, al igual que las enfermedades físicas, pueden afectar a cualquier persona, independientemente de su inteligencia, su clase social o su nivel de ingresos.</p>
    </div><br>
    <h5>Solo debes cuidar tu salud mental si tienes un problema de salud mental.</h5>
    <div>
        <p>Realidad: Las enfermedades mentales, al igual que las enfermedades físicas, pueden afectar a cualquier persona, independientemente de su inteligencia, su clase social o su nivel de ingresos.</p>
    </div><br>
    <h5>El deterioro de la salud mental no es un problema que afecte a los adolescentes. Sus cambios de humor se deben a las fluctuaciones hormonales, y actúan así para llamar la atención.</h5>
    <div>
        <p>Realidad: Los adolescentes suelen tener cambios de humor, pero eso no significa que no puedan tener también trastornos de salud mental. El 14% de los adolescentes de todo el mundo tiene problemas de salud mental. A nivel mundial, el suicidio es la quinta causa de muerte más frecuente entre los jóvenes de 10 a 15 años y la cuarta causa de muerte más común entre los adolescentes de 15 a 19 años. La mitad de los problemas de salud mental aparecen antes de los 14 años.</p>
    </div><br>
    <h5>No se puede hacer nada para evitar que las personas desarrollen problemas de salud mental.</h5>
    <div>
        <p>Realidad: Son muchos los factores que pueden proteger a las personas de los trastornos mentales, entre ellos, el fortalecimiento de las habilidades sociales y emocionales, la búsqueda de ayuda y apoyo en fases tempranas, el desarrollo de relaciones familiares comprensivas, afectuosas y cálidas, un entorno escolar positivo y patrones de sueño saludables.</p>

        <p>La capacidad para superar las adversidades se basa en una combinación de distintos factores de protección; ni los factores de estrés ambientales ni los individuales por sí solos llevan necesariamente a sufrir problemas de salud mental. Los niños y adolescentes que afrontan con éxito la adversidad suelen tener una resistencia biológica y relaciones estables y de apoyo con la familia, los amigos y los adultos de su entorno, lo que da lugar a una combinación de factores de protección que favorecen el bienestar.</p>
    </div><br>

    <h5>Un problema de salud mental es una señal de debilidad. Si la persona fuera más fuerte, no tendría ese problema.</h5>
    <div>
        <p>Realidad: Un problema de salud mental no tiene nada que ver con ser débil o no tener fuerza de voluntad. No es algo que las personas elijan tener o no tener. De hecho, reconocer que se necesita ayuda para superar un problema de salud mental requiere mucha fuerza y valor. Cualquiera puede desarrollar un problema de salud mental.</p>
    </div><br>

    <h5>Los adolescentes que sacan buenas notas y tienen muchos amigos no padecen problemas de salud mental porque no tienen motivos para deprimirse.</h5>
    <div>
        <p>Realidad: La depresión es un trastorno de salud mental muy habitual que resulta de una compleja interacción de factores sociales, psicológicos y biológicos. Puede afectar a cualquier persona, independientemente de su situación socioeconómica o de su aparente calidad de vida. Los jóvenes con buenos resultados escolares pueden sentirse presionados por el éxito, lo que puede causarles ansiedad, o pueden vivir dificultades en casa. También es posible que sufran depresión o ansiedad sin una razón fácilmente identificable. </p>
        
    </div><br>
   
    <h5>Una mala crianza es la causa de los problemas de salud mental en los adolescentes.</h5>
    <div>
        <p>Realidad: Numerosos factores, entre ellos la pobreza, el desempleo, la exposición a la violencia, la migración y otras circunstancias y episodios adversos, pueden influir en el bienestar y la salud mental de los adolescentes y sus cuidadores y en la relación entre ellos. Los adolescentes que viven en hogares afectuosos y comprensivos pueden tener dificultades de salud mental, al igual que los que proceden de hogares en los que hay cuidadores que necesitan apoyo para mantener un entorno óptimo que propicie el desarrollo saludable de los adolescentes. Con apoyo, los cuidadores pueden desempeñar un papel fundamental para ayudar a los adolescentes a superar los problemas a los que se enfrentan.</p>
    </div><br>
</div>
{%endblock%}
