{% extends 'base.html' %}

{% block parrafo %}
<h2>Bienvenid@ a Sansanidad</h2>
<p>
    Esta es una página creada para sansanos y por sansanos (SJ), te agradecemos por visitar nuestra página. 
    <br>
    <div>
        <h6>¿Qué es la página?</h6>
        <div>
            La intención de la página es ayudar al sansan@ con respecto a la salud mental y cómo cuidarla apropiadamente y todo ésto a través de la información.
            <br>
            <strong>Cabe a recalcar que nosotros divulgamos la información y no somos expertos en el tema.</strong>
        </div>
    </div>
    <br>
    
    <div>
        <h6>¿Qué es Testimonios?</h6>
        <div>
            Testimonios es una sección en donde cada sansano publica sus experiencias con problemas de salud mental, como cuida a su salud mental, problemas del día a día, etc. todos los mensajes son anónimos (A menos que la persona diga lo contrario), de esta manera queremos crear una red de apoyo mutuo entre sansan@s y así  fomentar la preocupación a cuidar la salud mental.
        </div>
    </div>
    <br>

    <div>
        <h6>¿Qué es FAQ?</h6>
        <div>
            FAQ es una sección en donde respondemos preguntas frecuentes o información falsa sobre  la salud mental o dudas que existen sobre ella, de esa manera queremos romper todos los mitos que existen y que alejan a los sansan@s de cuidar su salud mental.
        </div>
    </div>

    <br>
    <div>
        <h6>¿Qué es Información?</h6>
        <div>
            Información, como su nombre lo indica, es una sección en donde encontrarás información sobre algunos problemas mentales para que te puedas informar de que se trata.
        </div>
    </div>
</p>

{%endblock%}