{% extends 'base.html' %}

{%block parrafo%}
<body>
    <h2>Inicio de test</h2>
    <form action="" get=""> <!--Acá se supone que lo vinculan con la base de datos -->
    <ol>
        <li>
            <h3>¿Durante los últimos días has tenido problemas para dormir debido a pensamientos  sobre futuras actividades, pruebas o una preocupación?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P1" vaule="Ansiedad"><!-- Acá tambien base de datos(id name vaule)-->
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br><!-- el label (for) parece que tambien tiene que ver con base de datos-->
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P1" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Te has sentido débil o cansado estos últimos días?</h3>
        <div>
            <div>
                <div>
                    <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                    <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                </div>
                <div>
                    <input type="radio" id="R2" name="P2" vaule="nada">
                    <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                </div>
            </div>
        </div>
        <hr>
        <li>
            <h3>¿Percibes tus movimientos más lentos de lo normal?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Tienes problemas al realizar cualquier actividad debido a que tienes pensamientos de otra cosa por hacer?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Evitas las situaciones que te generan ansiedad?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Presientes que algo malo te va a pasar tarde o temprano?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <!--Depresion-->
        <hr>
        <li>
        <h3>¿Hay momentos en los que quieres solo llorar, sientes desesperanza o tienes un gran vacío?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Has pensado en sentimientos de culpa o inutilidad, autoreproches?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Has tenido problemas físicos sin explicación como dolor de espalda o de cabeza?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Sientes cansancio y falta de energía al hacer tareas pequeñas?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Has perdido el interés o emoción  en las actividades que realizas habitualmente?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Has tenido pensamientos frecuentes sobre la muerte en estas últimas semanas?</h3>
        <div>
            <div>
                <div>
                    <input type="radio" id="R1" name="P2" vaule="Depresion">
                    <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                </div>
                <div>
                    <input type="radio" id="R2" name="P2" vaule="nada">
                    <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                </div>
            </div>
        </div>
        </li>
        <hr>
        <!--Burnout-->
        <li>
        <h3>¿Al momento de hacer un trabajo eres incapaz de empezar a hacerlo?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Los logros que obtienes ya no te dan satisfacción?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Te has vuelto muy crítico o cínico en los trabajos?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Te falta energía para realizar una actividad constante?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿Estás usando la comida, drogas o el alcohol para sentirte mejor o simplemente no sentir?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h3>¿En las tareas que realizas tienes un elevado nivel de responsabilidad y ya no lo estas tolerando?</h3>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
    </ol>
    <input type="submit" value="Submit">
    </form>
</body>
{%endblock%}