{% extends 'base.html' %}

{% block parrafo %}

<h2>Bienvenid@ a los testimonios</h2>
<br>
<div>
    <h5>Reglas</h5>
    <div>
        <ul>
            <li>Ser respetuoso al momento de leer o hacer los testimonios</li>
            <li>Todos los testimonios van a ser revisados por moderadores para que no se escriba nada indebido</li>
            <li>En caso de que quieras hacer que tu mensaje no sea anonimo, escribelo en el testimonio</li>
        </ul>
    </div>
    <div>
        <h6>Para crear tu testimonio haz click aquí:</h6>
        <a href="direccion para ir al testimonio">Escribir mi testimonio</a>
    </div>
    <br>
    <div>
        <h6>Para ver los testimonios haz click aquí:</h6>
        <a href="direccion para ir al testimonio">Ver los testimonios</a>
    </div>

</div>
{%endblock%}