{% extends 'base.html' %}

{%block parrafo%}
<body>
    <h2>Bienvenid@ a los testimonios</h2>
    <br>
    <h2>Inicio de test</h2>
    <form action="" get=""> <!--Acá se supone que lo vinculan con la base de datos -->
    <ol>
        <li>
            <h5>¿Durante los últimos días has tenido problemas para dormir debido a pensamientos  sobre futuras actividades, pruebas o una preocupación?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P1" vaule="Ansiedad"><!-- Acá tambien base de datos(id name vaule)-->
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br><!-- el label (for) parece que tambien tiene que ver con base de datos-->
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P1" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Te has sentido débil o cansado estos últimos días?</h5>
        <div>
            <div>
                <div>
                    <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                    <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                </div>
                <div>
                    <input type="radio" id="R2" name="P2" vaule="nada">
                    <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                </div>
            </div>
        </div>
        <hr>
        <li>
            <h5>¿Percibes tus movimientos más lentos de lo normal?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Tienes problemas al realizar cualquier actividad debido a que tienes pensamientos de otra cosa por hacer?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Evitas las situaciones que te generan ansiedad?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Presientes que algo malo te va a pasar tarde o temprano?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Ansiedad">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <!--Depresion-->
        <hr>
        <li>
        <h5>¿Hay momentos en los que quieres solo llorar, sientes desesperanza o tienes un gran vacío?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Has pensado en sentimientos de culpa o inutilidad, autoreproches?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Has tenido problemas físicos sin explicación como dolor de espalda o de cabeza?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Sientes cansancio y falta de energía al hacer tareas pequeñas?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Has perdido el interés o emoción  en las actividades que realizas habitualmente?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Depresion">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Has tenido pensamientos frecuentes sobre la muerte en estas últimas semanas?</h5>
        <div>
            <div>
                <div>
                    <input type="radio" id="R1" name="P2" vaule="Depresion">
                    <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                </div>
                <div>
                    <input type="radio" id="R2" name="P2" vaule="nada">
                    <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                </div>
            </div>
        </div>
        </li>
        <hr>
        <!--Burnout-->
        <li>
        <h5>¿Al momento de hacer un trabajo eres incapaz de empezar a hacerlo?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Los logros que obtienes ya no te dan satisfacción?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Te has vuelto muy crítico o cínico en los trabajos?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Te falta energía para realizar una actividad constante?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿Estás usando la comida, drogas o el alcohol para sentirte mejor o simplemente no sentir?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
        <li>
        <h5>¿En las tareas que realizas tienes un elevado nivel de responsabilidad y ya no lo estas tolerando?</h5>
            <div>
                <div>
                    <div>
                        <input type="radio" id="R1" name="P2" vaule="Burnout">
                        <label for="1">Si <span class="check"></span><span class="box"></span></label><br>
                    </div>
                    <div>
                        <input type="radio" id="R2" name="P2" vaule="nada">
                        <label for="2">No <span class="check"></span><span class="box"></span></label><br>
                    </div>
                </div>
            </div>
        </li>
        <hr>
    </ol>
    <input type="submit" value="Submit">
    </form>
    <br>
    <h6>Resultados:</h6>
    <p>Ansiedad 3</p>
    <p>Burnout 5</p>
    <p>Depresion 2</p>
</body>
{%endblock%}