{% extends 'base.html' %}
{% block content %}
{% if user.is_authenticated %}
  Hola {{ user.username }}!
    <p><a href="{% url 'logout' %}">Cerrar sesión</a></p>
{% else %}
  <p>No has iniciado sesión.</p>
  <a href="{% url 'login' %}">Inicia sesión <a  href="{% url 'register' %}"> Registrate </a>    
{% endif %}
{% endblock %}
{% block title %}Home{% endblock %}

{% block parrafo %}
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat fuga itaque expedita quam, quod odit magni, perferendis nostrum pariatur neque aliquam numquam omnis iure? Repellat, natus consectetur? Culpa, officia asperiores.</p>

{% endblock %}

