{% block content %}
        <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="10" aria-describedby="mydesc">
        <thead>
            <tr>
                <th id="area">Área</th>
                <th id="testimonio">Testimonio</th>
                <th id="fecha">Fecha de subida</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ formula.area }}</td>
                <td>{{ formula.testimonio }}</td>
                <td>{{ formula.fecha }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}